In [1]:
import pandas as pd

In [2]:
df_mapping = pd.read_pickle('../datasets/ean_key_mapping.pkl')
print(df_mapping.shape)
df_mapping.head()

(7153, 2)

    chave            ean
4       4  7896016807473
7       7  7896382701801
11      9  7891106001748
13     10  7894916503754
19     13  7896523209111

### Aplicando as substituições

In [3]:
medicamentos_data_path = '../datasets/medicamentos/augmented/'
anvisa_data_path = '../datasets/anvisa/augmented/'

medicamentos_data_file = 'medicamentos_aumentado_preproc.csv'
anvisa_pa_data_file = 'anvisa_principio_ativo_aumentado_preproc.csv'
anvisa_prod_data_file = 'anvisa_produto_aumentado_preproc.csv'

### MEDICAMENTOS

In [4]:
df = pd.read_csv('{}{}'.format(medicamentos_data_path, medicamentos_data_file), 
                 sep=';',
                 dtype={0:int, 1:str, 2:str})
print(df.shape)
df.head()

(120224, 3)

   cod                                          descricao            ean
0    1                                   GEL P/ ECG 100GR  7898107240268
1    3            GEL ECG (ELETROCARDIOGRAMA) FRASCO 100G  7898107240268
2    3  GEL PARA ECG AZUL 100 GRAMAS CARBOGEL GEL COND...  7898107240268
3    3         GEL PARA ECG FRASCO 100GR GEL ECG CARBOGEL  7898107240268
4    3              GEL PARA ELETROCARDIOGRAMA (ECG) 100G  7898107240268

In [5]:
dfm = pd.merge(df, df_mapping, on='ean')
print(dfm.shape)
dfm.head()

(81353, 4)

,cod,descricao,ean,chave
0,1,CIPROFIBRATO 100MG COMPR C30 MEDLEY,7891058001612,3298
1,3,CIPROFIBRATO 100MG C/30 MEDLEY CIPROFIBRATO 100MG,7891058001612,3298
2,1,CIPROFIBRATO 100MG C/30CP(1633),7891058001612,3298
3,3,CIPROFIBRATO 100 MG COM 30 COMPRIMIDOS,7891058001612,3298
4,3,CIPROFIBRATO 100MG 30 COMPRIMIDOS,7891058001612,3298

In [6]:
del dfm['ean']

data_file = 'medicamentos_aumentado_preproc_mapped.csv'

dfm.to_csv('{}{}'.format(medicamentos_data_path, data_file),
           sep=';',
           index=False,
           encoding='utf-8')

### ANVISA PRINCIPIO_ATIVO

In [7]:
df = pd.read_csv('{}{}'.format(anvisa_data_path, anvisa_pa_data_file), 
                 sep=';',
                 dtype={0:int, 1:str, 2:str})
print(df.shape)
df.head()

(78012, 3)

   cod                                          descricao            ean
0    2  ALENDRONATO DE SÓDIO TRI-HIDRATADO 10 MG COMP ...  7896226102634
1    2  ALENDRONATO DE SÓDIO TRI-HIDRATADO 10 MG COMP ...  7896226102627
2    2                      AMBROXOL XPE ADU FR COM 100ML  7896226100449
3    4             AMBROXOL EXPECTUSS XAROPE ADULTO 100ML  7896226100449
4    2                GLIMEPIRIDA 02MG COMP REV CX COM 30  7896226101965

In [8]:
dfm = pd.merge(df, df_mapping, on='ean')
print(dfm.shape)

(13099, 4)

In [9]:
del dfm['ean']

data_file = 'anvisa_principio_ativo_aumentado_preproc_mapped.csv'

dfm.to_csv('{}{}'.format(anvisa_data_path, data_file),
           sep=';',
           index=False,
           encoding='utf-8')

### ANVISA PRODUTO

In [10]:
df = pd.read_csv('{}{}'.format(anvisa_data_path, anvisa_prod_data_file), 
                 sep=';',
                 dtype={0:int, 1:str, 2:str})
print(df.shape)
df.head()

(85445, 3)

   cod                                          descricao            ean
0    2                   OSTENAN 10 MG COMP REV CX COM 30  7896226102634
1    2                   OSTENAN 10 MG COMP REV CX COM 15  7896226102627
2    2  TEICOPLANINA 400 MG PÓ LIOFILIZADO SOL INJ CX ...  7730711011233
3    2                      AMBROTEN XPE ADU FR COM 100ML  7896226100449
4    2  OXALIPLATINA 50 MG PÓ LIOFILIZADO FR/AMP X 500 MG  7730711011493

In [11]:
dfm = pd.merge(df, df_mapping, on='ean')
print(dfm.shape)

(14218, 4)

In [12]:
del dfm['ean']

data_file = 'anvisa_produto_aumentado_preproc_mapped.csv'

dfm.to_csv('{}{}'.format(anvisa_data_path, data_file),
           sep=';',
           index=False,
           encoding='utf-8')